// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.mt-4 {
  margin-top: ($spacer * 1.5) !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.ml-2 {
  margin-left: ($spacer * .5) !important;
}

.ml-3 {
  margin-left: $spacer !important;
}

.ml-4 {
  margin-left: ($spacer * 1.5) !important;
}

.ml-5 {
  margin-left: ($spacer * 3) !important;
}